<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720704351178-d9ft2mno23b46estn6hibv92abbbdc75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720704351178-d9ft2mno23b46estn6hibv92abbbdc75</string>
	<key>API_KEY</key>
	<string>AIzaSyDlCIPBb_kk7tDSQgfRYpg_BcX2Q9PkdQI</string>
	<key>GCM_SENDER_ID</key>
	<string>720704351178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kubrademirkaya.PhotoSharingApp</string>
	<key>PROJECT_ID</key>
	<string>photosharingapp-235fd</string>
	<key>STORAGE_BUCKET</key>
	<string>photosharingapp-235fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720704351178:ios:052c340cbcb677e41f3d33</string>
</dict>
</plist>